div,input,textarea {
    box-sizing: border-box; /*모든 div 박스, INPUT박스, TEXTAREA 에 박스 사이징 보더 하기*/
}



.main-background{
    width: 100%;
    height: 500px;
    background-image: url(../img/view.jpg);
    background-size:cover; /* cover =div 배경에 꽉 채워주세요 /* contain = 배경이 짤리지 않게 꽉채우기 */
    background-repeat: no-repeat;
    background-position: center;
    filter:saturate(120%) brightness(100%);
    padding:1px
}

.main-title{
    color:white;
    font-size: 40px; 
    margin-top: 200px; text-align: center;
}

.sub-title{
    color:rgb(48, 117, 207);
    font-size: 20px;
    text-align: center; margin-top:-50px
}

.button{
    
     background-color: rgb(236, 230, 230);
     color: rgb(123, 173, 202);
     border: none;
     border-radius: 10px;
     padding: 8px;
     opacity: 80%;
     text-align: center;
}
.button:hover{ /*버튼에 hover를 사용하면 마우스를 갖다 댔을 때 색상 변화를 줄 수 있음*/
    background-color: rgb(255, 255, 255);
    transition: 0.7s;
}

.button2{
    margin-left: 5px;
    background-color: rgb(236, 230, 230);
    color: rgb(123, 173, 202);
    border: none;
    border-radius: 10px;
    padding: 8px;
    opacity: 80%;
    text-align: center;
}

.button2:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.7s;
}

.buttons{
    text-align: center;
}

.Enjoy{
    background-color: rgb(209, 202, 202);
    opacity:80%;
    text-align: center;
    position: absolute;
    left:0; right:0; margin-left: auto; margin-right: auto; width:700px;
    margin-top: 120px;
    color: rgb(85, 84, 84)
}

.sub-background{
    background-color: gray;
    width:100%;
    height: 800px;
    margin-top:200px
    
}

.form-white{
    background-color:rgb(255, 255, 255);
    width:60%;
    position: absolute;
    left:0; right:0; margin-left: auto; margin-right: auto; margin-top: 100px;
    padding:30px;  height:600px;
    max-width: 600px;
    
}

.first-div{
    width:100%;
    padding:8px
}
.first-input{
    border-radius: 4px;
    padding:10px;
    font-size:15px;
    border:1px solid gray;
    width: 90%;
   
}

.second-div{
    width:50%;
    float:left;  
    padding:10px 
}

.second-input{
    border-radius: 4px;
    padding:10px;
    font-size:15px;
    border:1px solid gray;
    width:80%;
    
}


.third-div{
    width:100%;
    padding:8px
}

.third{
    border-radius: 4px; 
    font-size:15px;
    border:1px solid gray;
    width:90%;
    height:150px;
    
}

.yellow-button{
    background-color: rgb(245, 192, 45);
    padding:10px;
    border-radius: 4px;
    border:none;
    color:white;
    position: absolute;
    margin-left:193px; margin-top:-10px
    
}

.yellow-button:hover{
    background-color: rgb(231, 171, 5);
    transition: 0.8s;
}


