.main-background {
    width:100%;
    height: 500px;
    background-image: url(../img/차백도\ 포스터2.jpg); /* ../ = 상위폴더로 이동하라는 뜻 */
    background-size: cover; /* background-size= cover : 배경안에 사진을 꽉채워서 넣어라(빈공간 없이) /contain : 빈공간과 상관없이 사진이 짤리지 않게 하기 */
    background-repeat: no-repeat; /*background-repeat : no 로 설정시 사진이 반복되지 않음*/
    background-position: center; /* background-position : 배경위치 조절 사이트를 눌렀을때 처음 보이는 사진의 위치 조절 right/left/center */
    filter: brightness(90%) saturate(110%);  /* 단지 필터를 쓰면 배경 안에 글씨가 있을 때 글씨에도 필터가 입혀짐*/
    padding :1px 
    /*main-title의 마진을 옮겼더니 메인 백그라운드가 변하는게 margin collapse 현상
     이 버그를 고치려면 메인 백그라운드 div박스에 패딩을 주면됨 그러면 main-title의 마진이 제대로 작동할꺼임*/

}

.main-title {
    color:rgb(206, 197, 184);
    font-size : 30px;
    margin-top :300px; margin-left: 80px;
}

.buttons {
    position: absolute;
    left:80px;
    
}

.button {
    background-color: rgb(206, 197, 184);
    color: rgb(255, 255, 255);
    font-size: 15px;
    border: none;
    border-radius: 10px;
    padding:6px;
    opacity: 90%;
    
}

.button:hover{
    background-color: rgb(138, 134, 129);
    transition: 0.8s;
}

.button2 {
    background-color: rgb(206, 197, 184);
    color: rgb(255, 255, 255);
    font-size: 15px;
    border: none;
    border-radius: 10px;
    padding:6px;
    opacity: 90%;
}

.button2:hover{
    background-color: rgb(138, 134, 129);
    transition: 0.8s;
}

.설명box{
    color: rgb(255, 255, 255);
    background-color: rgb(156, 146, 146);
    opacity: 70%;
    text-align: center;
    width: 100%;
    height:150px;
    padding: 1px;
    position: relative;
    top: -20px; 
    box-sizing:border-box;  /* box-sizing 을 보더박스로 설정하면 width 설정에 padding과 border가 모두 포함되어 보이는 컨텐츠 자체의 크기를 width로 설정한 값으로 보임
}